@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

select, input, button {
  border: 1px solid rgb(161, 221, 255);
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  width: 250px;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  padding-top: 60px;
}

.tickets__container {
  min-height: 550px;
  border-radius: 20px;
  background: rgb(53, 166, 211);
  padding: 30px;
  color: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.tickets__content {
  flex: 0 0 50%;
}
.tickets__title {
  font-size: 30px;
  margin-bottom: 15px;
}
.tickets__destination {
  margin-bottom: 10px;
}
.tickets__time {
  margin-bottom: 10px;
}
.tickets__quantity {
  margin-bottom: 10px;
}
.tickets__result {
  flex: 0 0 50%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tickets__text {
  margin-bottom: 10px;
  line-height: 150%;
}
.tickets__submit {
  display: block;
  width: 100%;
  background: rgb(32, 73, 88);
  color: #fff;
  border: none;
  line-height: 30px;
  transition: all 0.3s;
}
.tickets__submit:hover {
  background: rgb(59, 138, 167);
}
.tickets__ship {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.tickets__ship img {
  width: 150px;
}

.time-back {
  margin-bottom: 10px;
}

.destination__label {
  margin-right: 15px;
}
.time__select {
  margin-bottom: 10px;
}

.quantity__input {
  margin-bottom: 15px;
}
.quantity__btn {
  background: rgb(32, 73, 88);
  color: #fff;
  border: none;
  line-height: 30px;
  transition: all 0.3s;
}
.quantity__btn:hover {
  background: rgb(59, 138, 167);
}